body {
  background-color:light-blue;}
#bgvideoAlign{
    padding-bottom: 30px;
}

h2{
  text-align: center;
  color: #ffffff;
}

#PlaceName{
  padding:10px;
  text-align: justify;
  font-weight: bold;
}
#videoAlign{
height:80vh;
width:100%;
display:flex;
align-items:center;
justify-content: center;

}

#videoAlign::after {
      width:100%;
      height:100%;
      content: '';
      position:absolute;
      z-index:-2;
      top:500;
      left:0;
      background:rgba(0,0,0,0.5)
	}

#videoAlign video {
      width:100%;
      height:100%;
      position:absolute;
      top:500;
      left:0;
      z-index:-1;
      object-fit:cover;
      font-family:'object-fit: cover';
}

#videoAlign .caption {
      position:relative;
      z-index:-1;
      text-align:center;
      color:#ffffff;
}
#videoH1{
    font-family: "Brush Script MT";
    font-size: 60px;
}
#videoH2{
    font-family:"Comic Sans MS";
    color: greenyellow;
    font-size: 30px;
}

.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  float: left;
  font-family: Berlin Sans FB;
}

.btn-group .button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #3e8e41;
}
.button{width: 33.3%;
      }
	  #mainImages{
float: right;
width: 100%;
    padding: 20px;
}
#mainImages2{
float: left;
width: 40%;
    padding: 20px;
}
.column1 {
  float: left;
  width: 50%;
  padding:10px;
 
  }

  #row1{
  padding: 5px;
  }
  #row1:after{
  content: "";
  display: table;
  clear: both;
  }
  #row2{
  padding-top:55px;
  }
  #row2:after{
  content: "";
  display: table;
  clear: both;
  }


/* Dividing the page into two for the two drop down menus. */
#row{
  padding: 15px;
  }
  
  #left{
  float: left;
  width: 50%;
  padding-top: 15px;
  }
  
  #right{
  float: right;
  width: 50%;
  padding-top: 15px;
  }
  
  #row:after{
  content: "";
  display: table;
  clear: both;
  }
  
  label{
  color: black;
  font-weight: bold;
  }

  #GalleryDes{
    padding:10px;
    text-align: justify;
    font-weight: bold;
}
.column {
  float: left;
  width: 16.5%;
  padding-top: 30px;
  padding-left:8px;
  padding-bottom:12px;
  }

  /* Style the images inside the grid */
.column img {
  cursor: pointer; 
  width: 100%;
  height: 250px;
  border-radius: 40px;
  }

.column img:hover{
   

}
.Images{
    position: relative;
    width: 50%;
    display: none;
    float: left;
      
  }
  .intro{
    font-family: Lucida Calligraphy ;
  }

  .row2{
    padding: 15px;
    padding-top: 20px;
    }

  
  #Content{
    text-align: justify;
    float: right;
    width: 48%;
  }

  .row2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .close{
    position: absolute;
    cursor: pointer;
    top: 10px;
    color: white;
    right: 15px;
    font-size: 35px;
    }
	
	
